@import url("https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&family=Overlock&family=Sanchez&display=swap");

.fondoMainContacto {
    background-image: url(../assets/img/fondo-nav2.PNG);
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;    }

  .logoNavbar {
    max-width: 80%;
    max-height: 80%;
    padding-top: 2px;
    padding-bottom: 2px;     }

  .footer {
    display: flex;
    background-color: rgb(29, 29, 29);
    color: white;    }

  .bloqueFooter {
    padding-top: 20px;
    padding-bottom: 20px;   }

  .redes-sociales {
    display: flex;
    cursor: pointer;    }

  .letra-productos {
    font-family: "BenchNine", sans-serif;
    font-size: 3rem;    }

